<h1>Statistic Page</h1>

<div class="row">
    <div class="col-12">
        <div class="m-2">
            <span>New Confirmed: {{this.summaryData?.Global?.NewConfirmed}}</span><br>
            <span>TotalConfirmed: {{this.summaryData?.Global?.TotalConfirmed}}</span><br>
            <span>NewDeaths: {{this.summaryData?.Global?.NewDeaths}}</span><br>
            <span>TotalDeaths: {{this.summaryData?.Global?.TotalDeaths}}</span><br>
            <span>NewRecovered: {{this.summaryData?.Global?.NewRecovered}}</span><br>
            <span>TotalRecovered: {{this.summaryData?.Global?.TotalRecovered}}</span><br>
            <span>Date: {{this.summaryData?.Global?.Date}}</span><br>
        </div>
    </div>
</div>
